<%= @page_title = "Login Printerous" %>
<% content_for :head do %>
    <title>A simple page</title>
<% end %>

  <% content_for :stylesheets do %>
   
  <% end %>
 
  <% content_for :link_href do %>

  <% end %>


<% content_for :content_html do %>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        Login
                    </div>

                    <div class="col-1">
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                   
                    <div class="col-md-12">
                        <% if notice %>
                            <p><%= notice %></p>
                        <% end %>

                        <!-- menampilkan pesan alert -->
                        <% if alert %>
                            <p><%= alert %></p>
                        <% end %>

                        <!-- menampilkan form login -->
                        <%= form_tag controller: :auth, action: :login, local: true do %>
                        
                            <%= text_field_tag :email, '', placeholder: 'Email', class: 'form-control' %> <br><br>
                            <%= password_field_tag :password, '', placeholder: 'Password', class: 'form-control' %> <br><br>

                            <%= submit_tag 'Login', class:'btn btn-success' %> <br>

                        <% end %>
                    </div>
                
                </div>
            </div>
        </div>    
    </div>

    <div class="col-md-4">

    </div>

<% end %>
